@import '../../styles/main';

.search-results {
  @include flex-center;
  background: $secondary-color;
  height: 100vh;
  padding: 40px 0;

  ul {
    background: $tertiary-color;
    width: 70%;
    height: fit-content;
    list-style-type: none;
    border-radius: 6px;
    box-shadow: $shadow;

    a {
      display: flex;
      text-decoration: none;
      color: $secondary-text-color;
      border-bottom: 2px solid $secondary-color;
      margin: 0 15px;

      :hover {
        text-decoration: underline;
      }

      img {
        width: 130px;
        height: 130px;
        margin: 15px 0;
        border-radius: 4px;
        border: 1px solid $secondary-color;
      }

      .info-container {
        margin-left: 20px;

        h3 {
            font-size: 20px;
            font-weight: 200;
        }

        div {
          display: flex;
          margin-top: 40px;
          margin-bottom: 10px;

          svg {
            font-size: 18px;
            background-color: #4ccc84;
            border-radius: 50%;
            padding: 2px;
            margin-left: 10px;
          }
        }
      }
    }

    hr {
      margin: 0 20px;
    }
  }
}
