@import '../../styles/main';

.search-box {
  @include flex-center;
  background-color: $primary-color;
  padding: 10px;

  div {
    @include flex-center;
    height: 40px;
    width: 100%;

    img {
        height: 100%;
        margin-right: 20px;
    }
  }

  input[type="text"] {
    height: 100%;
    width: 70%;
    padding: 10px;
    font-size: 16px;
    border: none;
    box-shadow: $shadow;
    border-radius: 3px 0 0 3px;

    &:focus {
      outline: none;
    }
  }

  button {
    height: 100%;
    width: 42px;
    background-color: $secondary-color;
    color: white;
    border: none;
    border-radius: 0 3px 3px 0;
    box-shadow: $shadow;
    cursor: pointer;

    svg {
      font-size: 18px;
      color: $primary-text-color;
    }

    &:hover {
      background-color: darken($secondary-color, 10%);
    }
  }
}
