$primary-color: #ffe600;
$secondary-color: #ececec;
$tertiary-color: #ffffff;
$primary-text-color: #8f999f ;
$secondary-text-color: #222121;
$font-family: 'Arial', sans-serif;
$shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.06);