@import '../../styles/main';

.content-wrapper {
  background: $secondary-color;
  padding-bottom: 100px;
  height: 100%;

  .categories {
    width: 70%;
    margin: 0 auto;
    display: flex;
    padding: 15px 0;
    color: $primary-text-color;
  }

  .content-container {
    background: $tertiary-color;
    width: 70%;
    height: fit-content;
    border-radius: 6px;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .content-wrapper {
    .categories {
      width: 90%;
    }

    .content-container {
      width: 90%;
    }
  }
}

@media (max-width: 480px) {
  .content-wrapper {
    .categories {
      width: 95%;
      font-size: 14px;
    }

    .content-container {
      width: 95%;
    }
  }
}
